.dashboardcontent{
    height: auto;
    width:100%;
    background-image: url("https://images.squarespace-cdn.com/content/v1/615be2c9cab31a4b81c40260/b4d0665e-c2a8-42d7-8595-1d8d24838271/LIGHT+-+BG2.jpg");
    background-size: cover;
}

.wel{
    width:100vw;
    display: flex;
    justify-content: center;
    
}

.welcomestyle{
    text-align: center;
    font-size: 40px;
    width:500px;
    background: linear-gradient(red, blue);
    -webkit-background-clip: text;
            background-clip: text;
    -webkit-text-fill-color: transparent;
}

.cardflexing{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.before{
    margin-top: 50px;
    margin-bottom: 10px;
    padding-bottom: 10px;
    background-color: aquamarine;
    border-radius: 5px;
    height:330px;
    box-shadow: 0px 4px 16px 0px;
    text-align: center;
    margin: 10px;
    width: 350px;
}

.after{
    /* margin-top: 50px;
    margin-bottom: 150px; */
    padding:10px;
    padding-bottom:290px;
    background-color: aquamarine;
    border-radius: 5px;
    height:330px;
    box-shadow: 0px 4px 16px 0px;
    text-align: center;
    margin: 10px;
    width: 350px;
}

.solve{
    margin-top: 25px;
    height: 30px;
    width:100px;
    border-radius: 5px;
    font-weight: bold;
    color: whitesmoke;
    background-color: blueviolet;
}

.solve:hover{
    background-color: yellowgreen;
    transform: scale(1.1,1.1);
}

.multiple{
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: end;
}
.back{
    display: flex;
    flex-direction: row;
    justify-content: end;
}

.openclose{
  margin: 10px;
  margin-top: 60px;
  height: 40px;
  width:200px;
  font-size: 17px;
  border-radius: 5px;
  font-weight: bold;
  color: darkgreen;
  background-color:transparent;
}

.openclose:hover{
    background-color: yellowgreen;
    transform: scale(1.1,1.1);
}

.backColor{
    height: 40px;
    margin-right: 0px;
    width:200px;
    font-size: 17px;
    border-radius: 5px;
    font-weight: bold;
    color: whitesmoke;
    background-color:brown;
}

.backColor:hover{
    background-color: yellowgreen;
    transform: scale(1.1,1.1);
}

.sc{
    margin-top: 25px;
    height: 30px;
    width:175px;
    border-radius: 5px;
    font-weight: bold;
    color: whitesmoke;
    background-color: blueviolet; 
}

.sc:hover{
    background-color: yellowgreen;
    transform: scale(1.1,1.1);
}