body{
    background-color:  rgba(112, 72, 186, 0.9) ;
    /* background-color: #fff; */
    /* background-color: yellowgreen; */
}
.user-container{
    /* background-color: yellowgreen; */
    background-color: #89accf;
    height: 250px;
    width: 500px;
    margin: 6% auto;
    border-radius: 8px;
    padding: 20px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow:4px 4px 4px gold;
}
.user-container form h2{
    color: purple;
}
.user-container-item input{
    width: 100%;
    padding: 6px;
    border-radius: 4px;
    border: none;
    outline: none;
    margin-top: 7px;
}
.user-login button{
    background-color: blueviolet;
    color: #fff;
    padding: 10px 12px;
    border: none;
    border-radius: 8px;
    font-weight: 600;
    font-size: 15px;
}